{{#models}}
export type {{name}} = {{type}};
{{/models}}

{{#enumTypes}}
export type {{name}} ={{#values}} "{{value}}" {{^last}}|{{/last}}{{/values}};
{{/enumTypes}}

{{#complexTypes}}
export interface {{ name }} {{#extends}}extends {{extends}} {{/extends}}{
{{#properties}}
{{^isAdditional}}    {{ name }}{{^required}}?{{/required}}: {{ type }}{{#isArray}}[]{{/isArray}};
{{/isAdditional}}
{{#isAdditional}}    [id: string]: {{ type }}{{#isArray}}[]{{/isArray}};
{{/isAdditional}}
{{/properties}}
}

{{/complexTypes}}
{{#configuration.parametersAsObject}}
{{#parameterTypes}}
export interface {{ name }} {
{{#properties}}
{{^isAdditional}}    {{ name }}{{^required}}?{{/required}}: {{ type }}{{#isArray}}[]{{/isArray}};
{{/isAdditional}}
{{#isAdditional}}    [id: string]: {{ type }}{{#isArray}}[]{{/isArray}};
{{/isAdditional}}
{{/properties}}
}

{{/parameterTypes}}
{{/configuration.parametersAsObject}}
